#researchmain {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
  padding-top: 3rem;
  gap: 5rem;
}
.headline {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 500;
  color: #667bf7;
  font-size: clamp(18.72px, 1vw, 20px);
}
.question {
  font-size: clamp(26px, 2vw, 32px);
  color: white;
  text-align: center;
}
.returnresearch {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.researchheader {
  width: 100%;
}
.backatag3 {
  width: 80%;
  padding-left: 3%;
}
.sectioncontrol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 100%;
}
.contentsection3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.contentdiv3 {
  display: flex;
  flex-direction: column;
  color: white;
  width: 90%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.imagefit {
  width: 90%;
  height: 200px;
  border: 2px solid #667bf7;
  transition: transform 0.5s;
}
.imagefit:hover {
  transform: scale(1.1);
}

.imagefit:active {
  transform: scale(1);
}
.contentdiv3 h1 {
  font-size: clamp(22px, 2vw, 36px);
  font-weight: 300;
}
.contentdiv3 h3 {
  font-size: clamp(18.72px, 2vw, 22px);
  font-weight: 200;
}
.contentdiv3 h4 {
  font-size: clamp(18.72px, 2vw, 22px);
  font-weight: 100;
  color: gray;
}
.researchimagediv1 {
  width: 100%;
  height: 100%;
  background-image: url(/media/researchimg.webp);
  background-size: cover;
  background-position: center;
}
.researchimagediv2 {
  width: 100%;
  height: 100%;
  background-image: url(/media/coding.webp);
  background-size: cover;
  background-position: center;
}
.researchimagediv3 {
  width: 100%;
  height: 100%;
  background-image: url(/media/astrophysics.webp);
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 950px) {
  .contentsection3 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 400px;
    background-image: url(/media/underline.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .imagefit {
    min-width: 45%;
    height: 400px;
    border: 2px solid #667bf7;
  }
  .contentdiv3 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10%;
  }
  .sectioncontrol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
  }
  .returnresearch {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .headline {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 4rem;
    font-weight: 500;
    color: #667bf7;
    font-size: clamp(16px, 1vw, 20px);
  }
  .question {
    margin-left: 4rem;
    font-size: clamp(24px, 2vw, 30px);
    color: white;
    font-weight: 200;
    text-align: start;
  }
  .backatag3 {
    width: 80%;
    margin-left: 0px;
  }
  .contentdiv3 h1 {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 300;
  }
  .contentdiv3 h3 {
    font-size: clamp(14.72px, 2vw, 16px);
    font-weight: 200;
  }
  .contentdiv3 h4 {
    font-size: clamp(16.72px, 2vw, 18px);
    font-weight: 100;
    color: gray;
  }
}
